---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout title="Culture">

  <div class="content-container contentpage">

    <h1>Physical Transformation, The Perry Method</h1>
    <div class="intro text">
      <h2>Foundation and Level 1 practitioner Certification</h2>
      <p>You will learn techniques and movements to ease pain, to gain better sleep quality, to soften stiff muscles, to improve balance, flexibility and posture for yourself and for others.</p>    </div>
    <hr>

    <div class="text wrap">

      <h3>THE PERRY METHOD FOUNDATION COURSE</h3>
      <p>After taking the Foundation Course – Exclusive, not only will you be able to skilfully and confidently work with others and give the gift of health, you will be able to do the same for yourself – Self- Care As previously stated. “Student heal thyself’” has moved from being a possibility to becoming reality.</p>
      <ul>
        <li>to improve your posture</li>
        <li>to ease RSI symptoms</li>
        <li>to improve your balance</li>
        <li>to create more flexibility</li>
        <li>to speed up recovery</li>
        <li>to have better brain balance for all brain function</li>
        <li>to soften stiff muscles (specially neck and shoulders)</li>
        <li>to reduce stress and to create better sleep quality for yourself confidently.</li>
      </ul>
      <p>As a professional you will gain great techniques and insights to enrich your practice whether you are a therapist, a yoga teacher, martial artist, athlete or an NLP practitioner.</p>
      <h4>Retreat details – 5 days foundation course</h4>
      <dl>
        <dt>Daily Schedule&nbsp;</dt>
        <dt>6:30 – 7:30am OR 7:00 – 8:00am</dt>
        <dd>Mindful movement or meditation&nbsp;</dd>
        <dt>9:00 – 12:00</dt>
        <dd>The Perry Method Foundation class</dd>
        <dt>12:00 – 17:00</dt>
        <dd>Lunch &amp; Alternative programs &amp; Relaxing &amp; Projects</dd>
        <dt>17:00 – 19:00</dt>
        <dd>The Perry Method Foundation – Hands-on practice</dd>
      </dl>
      <p>Your schedule is designed to give you enough time to enjoy your free time and indivual sessions.</p>
      <dl>
        <dt>Price per person</dt>
        <dd>EUR 2250</dd>
        <dt>Note</dt>
        <dd>Completing the Foundation Course – Exclusive training qualifies you to be eligible for the <em>Practitioner Level 1 (Healing the Healer)</em> certification program&nbsp;</dd>
      </dl>
      <figure><img src="/assets/images/2.perry.jpg" alt="perry" width="1024" height="768"></figure>
      <hr>
      <h3>THE PERRY METHOD PRACTICIONER LEVEL 1 COURSE: HEAL THE HEALER</h3>
      <blockquote>
        <p>This method is so amazing. As a homeopath and a practitioner myself I really appreciate the neurological reboot that comes with the daily practice</p>
      </blockquote>
      <p class="cite">Lynn Krokenberger</p>
      <h4>Details – 5 days certification course</h4>
      <p><strong>Content:</strong></p>
      <ul>
        <li>supporting states</li>
        <li>posture – balance</li>
        <li>observational skills, indicators, measurements</li>
        <li>skilled hands – palpation&nbsp;</li>
        <li>3 planes of motion</li>
        <li>increasing precision</li>
        <li>opening more therapeutic options in different positions and movements improvements with a wider variety of techniques&nbsp;</li>
        <li>ergonomics and ergonomical solutions</li>
        <li>deeper and longer lasting change work</li>
        <li>maintenance</li>
        <li>Theory, Implementation – Hands-on&nbsp;</li>
      </ul>
      <p><strong>You will also learn</strong></p>
      <ul>
        <li>how to set your clients pre-conscious state to get better and longer lasting results in a more efficient way.</li>
        <li>how to maintain your own state to be more effective&nbsp;</li>
        <li>how to optimise your energy usage during your interventions and treatments</li>
      </ul>
      <h4>Daily Schedule&nbsp;</h4>
      <dl>
        <dt>6:30 – 7:30am</dt>
        <dd>Mindful movement meditation&nbsp;</dd>
        <dt>9:00 – 12:00</dt>
        <dd>The Perry Method Practioner class</dd>
        <dt>12:00 – 17:00</dt>
        <dd>Lunch &amp; Alternative programs &amp; Body Monitoring</dd>
        <dt>17:00 – 19:00</dt>
        <dd>The Perry Method Practioner – Hands-on practice</dd>
      </dl>
      <p>Your schedule is designed to give you enough time to enjoy your free time and indivual sessions.</p>
      <dl>
        <dt>Price per person</dt>
        <dd>EUR 2450</dd>
      </dl>
      <p>After successful completion of the Practicioner Level 1 course,&nbsp;you can apply for <em>The Perry Method Practicioner Level 2 certification</em> course.</p>
      <p><strong>The team:</strong><br>
        Dr. Edie Perry – Co-Founder of The Perry Method – Lead trainer<br>
        Niki Fekete – ChangeEazy – Trainer &amp; coach, The Perry Method Practitioner</p>
      <figure>
        <img src="/assets/images/1.perry.jpg" alt="Physical Transformation, The Perry Method" width="1024" height="1024">
      </figure>
      <figure>
        <img src="/assets/images/2.perry.jpg" alt="Physical Transformation, The Perry Method" width="1024" height="768">
      </figure>

    </div>

    <div class="wrap wide">
    </div>


  </div>

</BaseLayout>