---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout title="Manager">

  <div class="content-container contentpage">

    <h1>Stress management</h1>
    <div class="intro text">
      <p>Building resilience and deal with stress effectively.</p>    </div>
    <hr>

    <div class="text wrap">

      <p>Experiencing too much stress? Learn to deal with it effectively!</p>
      <p>Are you back in the office or still juggling with the home office?<br>
        A lot of work and trying to find balance?<br>
        Feeling a lot of pressure?</p>
      <p>If you also want to learn:</p>
      <ul>
        <li>new ways and techniques to deal with stress effectively </li>
        <li>how to set priorities to create balance</li>
        <li>how to become more resilient</li>
      </ul>
      <p>Join us for an online workshop or personal coaching session.</p>
      <p>These events will be done via <em>zoom</em>. They are interactive so we encourage attendees to turn on mic and camera.</p>
      <p>This workshop is also available on request with customized content.<br>
        Contact us for more information.</p>
      <dl>
        <dt>Session fees</dt>
        <dd>€85 per session</dd>
        <dt>Duration</dt>
        <dd>Each session is 1.5 hrs</dd>
        <dt>Date</dt>
        <dd>on request</dd>
      </dl>
      <figure>
        <img src="/assets/images/1.square-flyer.jpg" alt="Stress management">
      </figure>

    </div>

    <div class="wrap wide">
    </div>


  </div>

</BaseLayout>