---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout title="Performance">

  <div class="content-container contentpage">

    <h1>Effective communication skills</h1>
    <div class="intro text">
      <p>coming soon</p>    </div>
    <hr>

    <div class="text wrap">


      <figure>
        <img src="/assets/images/1.office.jpg" alt="Effective communication skills">
      </figure>

    </div>

    <div class="wrap wide">
    </div>


  </div>

</BaseLayout>