---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout title="Personal">

  <div class="content-container contentpage">

    <h1>I coach ME</h1>
    <div class="intro text">
      <p>We coach you to coach yourself<br>
        I Coach ME</p>
      <p>Building Motivation &amp; Empowerment from inside out</p>    </div>
    <hr>

    <div class="text wrap">

      <p>Things have been changing lately. You work from home and you have less contact with colleagues and managers. Coping with this new situation demands a lot from us all. Can you still experience personal leadership and do you know how to motivate yourself? You can learn how to become the CEO of your life and understand that we always have a choice creating stability and agility in any uncertainty. </p>
      <p>This is why building strong personal leadership will help you to lift up your resilience and increases the quality of your life and career. </p>
      <p>I Coach ME is an online self-coaching programme with 3 in-depth interactive training sessions, along with practical exercises and instantaneous implementation. The I Coach ME training is part of an extensive international Coaching &amp; Leadership Programme.</p>
      <p>Through this session I Coach ME You will learn how to:</p>
      <ul>
        <li>Increase your energy level through activities that matter to you. </li>
        <li>Take the lead by activating your inner strengths and your authentic self.</li>
        <li>Help yourself to develop your inner resources, to be able to release negative feelings and to believe in yourself.</li>
      </ul>
      <p>What if you can be your authentic self, living the best life possible, because you feel great and energetic, having enough time and energy for the people and activities that matter the most.</p>
      <p>What if you can help yourself get the insights you need, the decisions you want and the meaningful life you wish for.</p>
      <p>Other people, who choose to follow the I Coach ME programme, experience less stress, more self-awareness and more independency. They can cope with any situation without a coach or manager nearby.  </p>
      <dl>
        <dt>Session fees</dt>
        <dd>€85 per session</dd>
        <dt>Each session is 1.5 hrs Trainers</dt>
        <dd>Niki &amp; Patricia</dd>
        <dt>Date</dt>
        <dd>1st session 31st October 2020 via Zoom, starting at 10:00.</dd>
      </dl>
      <h2>Content</h2>
      <p>Coach yourself from your own perspective and strength. Take control over your life and create your own self-help system.</p>
      <h3>Session 1</h3>
      <p>Get to know yourself, your strengths, your limits and your self-responsibility. You learn what motivates you.</p>
      <h3>Session 2</h3>
      <p>Know what you want and what beliefs are limiting you. You will learn to ask yourself good questions. </p>
      <h3>Session 3</h3>
      <p>Know your purpose and connect emotions and thoughts. You work on healing and also learn quick fixes.</p>
      <figure>
        <img src="/assets/images/coachme.jpg" alt="I coach ME">
      </figure>

    </div>

    <div class="wrap wide">
    </div>

  </div>

</BaseLayout>