:root {
  /* --color-brand-primary: #ff4500; */
  --color-brand-primary: #ff6d00;
  --color-brand-secondary: #3db7e8;
  --color-black: #000;
  --color-white: #fff;

  --color-neutral-10: hsl(from var(--color-black) h s 10);
  --color-neutral-20: hsl(from var(--color-black) h s 20);
  --color-neutral-30: hsl(from var(--color-black) h s 30);
  --color-neutral-96: hsl(from var(--color-black) h s 96);
  --color-neutral-100: hsl(from var(--color-black) h s 100);

  --color-background-primary: var(--color-brand-primary);
  --color-background-primary-light: hsl(from var(--color-brand-primary) h s 95);
  --color-background-secondary: var(--color-brand-secondary);
  --color-background-secondary-light: hsl(from var(--color-brand-secondary) h s 95);
  --color-background-tertiary: var(--color-neutral-96);
  --color-background-base: var(--color-neutral-100);

  /* text */
  --color-text-base: var(--color-neutral-10);
  --color-text-base-invert: var(--color-neutral-100);

  --font-size-base: 16;
  --font-size-small: 12;
  --font-size-xs: 10;

  --radius-border-base: 8px;
}

/* -----  1.2 Reset & Normalization  ---------------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

::-moz-selection {
  background: var(--color-brand-primary);
  color: #261e66;
}

::selection {
  background: var(--color-brand-primary);
  color: #261e66;
}

.fs-base {
  font-size: calc(var(--font-size-base) / var(--font-size-base) * 1rem);
}

.fs-small {
  font-size: calc(var(--font-size-small) / var(--font-size-base) * 1rem);
}

html {
  background-color: #fafafa;
  color: var(--color-text-base);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  /* font-size: calc(19 / 16 * 1rem); */
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  main {
    padding-top: 105px;
  }
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--color-brand-primary);
}

a:hover,
a:focus,
a:active {
  color: var(--color-brand-primary);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
pre {
  /* Reset font-sizes and normalize margins */
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1.5rem;
}

ul,
ol {
  padding-left: 15px;
}

li {
  /* margin-block-end: 1lh; */
}

h1,
h2,
h3,
h4 {
  /* font-family: Roboto, sans-serif; */
  font-weight: 600;
}

h1 {
  font-size: 2.875rem;
  line-height: 48px;
}

h2 {
  font-size: 2.25rem;
  line-height: 40px;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-style: italic;
  height: auto;
  max-width: 100%;
  shape-margin: 1rem;
}

figcaption {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.masthead {
  background-color: #fff;
  padding: 1.5rem;
}

.branding .logo {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.branding .logo svg {
  display: block;
}

@media only screen and (max-width: 768px) {
  .branding .logo svg {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .masthead {
    box-shadow: 0 8px 10px rgba(45, 45, 45, 0.25);
    position: fixed;
    width: 100%;
    z-index: 99;
    /* padding: 1em 1em; */
  }

  .masthead .grid {
    overflow: hidden;
    clear: both;
    max-width: 1290px;
    margin: 0 auto;
    position: relative;
  }

  .masthead .branding {
    float: left;
  }

  .masthead .navigation {
    float: right;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: 0;
  }

  .masthead .navigation .mdl-menu li {
    display: inline-block;
  }

  .masthead .navigation a {
    font-size: 12px;
    text-decoration: none;
    border-bottom: none;
  }
}

.masthead .navigation {
  display: none;
}

@media only screen and (min-width: 768px) {
  .masthead .navigation {
    display: block;
  }
}

/* @media only screen and (min-width: 768px) { */
/*   main { */
/*     padding-top: 5em; */
/*   } */
/* } */

@media only screen and (min-width: 768px) {
  .navigation.mobile {
    display: none;
  }
}

.mdl-menu {
  margin: 0;
  list-style: none;
  padding: 0;
}

.mdl-menu a {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 6px 8px;
  border-bottom: 1px solid #ccc;
}

.menu-item.is-active a {
  font-weight: 700;
  color: #ff4500;
}

#coaching,
#bodywork,
#testimonials {
  background-color: #f2f2f2;
}

/* @media only screen and (min-width: 768px) { */
/*   #coaching, */
/*   #trainings, */
/*   #bodywork, */
/*   #about, */
/*   #testimonials { */
/*     padding-top: 95px; */
/*   } */
/* } */

#trainings .content-container p {
  max-width: none;
}

#testimonials h1 {
  text-align: center;
}

.call-out {
  background-color: var(--color-brand-secondary);
  color: #fff;
  text-align: center;
  padding: 0 0 2em 0;
}

@media only screen and (max-width: 768px) {
  .call-out .content-container h2 {
    font-size: 24px;
  }
}

.call-out .content-container p {
  margin: 0;
  max-width: none;
}

.call-out .content-container ul {
  text-align: left;
  margin: 0 auto 0 1em;
}

.call-out .content-container ul li {
  list-style: disc;
}

@media only screen and (min-width: 768px) {
  .call-out .content-container ul {
    max-width: 60%;
    margin: 0 auto;
  }
}

.call-out .btn {
  background-color: #fff;
  color: var(--color-brand-secondary);
}

@media only screen and (min-width: 768px) {
  .call-out {
    padding: 2em;
  }
}

/* ----- 2.3 Grid & Layout ------------------------------------------------ */
/* .grid { */
/*   overflow: hidden; */
/*   clear: both; */
/* } */
/**/
/* @media only screen and (min-width: 768px) { */
/*   .grid .column { */
/*     width: 50%; */
/*     float: left; */
/*   } */
/* } */
/**/
/* @media only screen and (min-width: 768px) { */
/*   section .grid { */
/*     max-width: 960px; */
/*     margin: 0 auto; */
/*   } */
/* } */
/**/
/* section .grid .column { */
/*   padding: 1em; */
/* } */
/**/
/* .content-container { */
/*   max-width: 960px; */
/*   margin: 0 auto; */
/*   padding: 1em 1em 2em; */
/* } */

/* @media only screen and (min-width: 768px) { */
/*   .content-container p { */
/*     max-width: 50%; */
/*   } */
/* } */

/* @media only screen and (min-width: 768px) { */
/*   .content-container.contentpage p { */
/*     max-width: none; */
/*   } */
/* } */

/* .content-container ul, */
/* .content-container li { */
/*   list-style: disc; */
/* } */

/* footer */
footer {
  text-align: center;
  font-size: 1rem;
  padding: 2lh 1em;
}

footer a {
  display: inline-block;
  margin-bottom: 1em;
}

footer a+p {
  font-size: 14px;
}

blockquote,
q {
  quotes: none;
  font-family: Georgia, sans-serif;
  font-style: italic;
}

q p:before,
blockquote p:before {
  content: open-quote;
  font-family: georgia, serif;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {

  q p:before,
  blockquote p:before {
    /* font-size: 60px; */
    /* margin-left: -28px; */
  }
}

q p:after,
blockquote p:after {
  content: close-quote;
  font-family: georgia, serif;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {

  q p:after,
  blockquote p:after {
    /* font-size: 60px; */
  }
}

q p,
blockquote p {
  quotes: "‘\2009" "\2009’" "“\2009" "\2009”";
  text-align: left;
}

@media only screen and (min-width: 768px) {

  q p,
  blockquote p {
    /* font-size: 22px; */
    /* line-height: 44px; */
    /* margin-left: 8px; */
  }
}

cite {
  display: block;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

.cite {
  font-weight: 700;
}

.content-container blockquote p {
  max-width: none;
}

@media only screen and (min-width: 768px) {
  .content-container blockquote {
    max-width: 70%;
    margin: 0 auto;
  }
}

hr {
  font-size: 1.25rem;
  font-weight: 500;
  height: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--color-brand-primary);
  border: 0;
}

hr::before {
  content: "";
  position: relative;
  display: block;
  background: currentColor;
  height: 2px;
  top: calc(50% + 1px);
}

hr::after {
  content: "× × ×";
  background: #fafafa;
  position: relative;
  padding: 0 0.25rem;
  top: -0.25rem;
}

h1+hr,
.intro+hr {
  margin-top: -1.5rem;
}

dl {
  margin-bottom: 1rem;
}

dt {
  font-weight: 700;
  font-style: normal;
}

dd+dt {
  margin-top: 1em;
}
