---
const { blok } = Astro.props;
---

<a
  href={blok.url}
  class={`btn ${blok.style ? `btn--${blok.style.toLowerCase()}` : ''}`}
>
  {blok.text}
</a>
<style>

.btn {
  display: inline-block;
  background-color: var(--color-background-secondary);
  color: var(--color-text-base);
  font-weight: 700;
  padding: 10px 12px;
  border: 1px solid #000;
  border-radius: var(--radius-border-base);
  transition: all .3s ease;
}

.btn:focus, .btn:hover {
  background-color: var(--color-neutral-10);
  color: var(--color-text-base-invert);
}

.btn--primary {
  background-color: var(--color-background-primary);
}
</style>
