---
import {storyblokEditable} from '@storyblok/astro';
const {blok} = Astro.props;
---
<!-- testimonials -->
<section
  id="testimonials"
  {...storyblokEditable(blok)}
>
  <div class="content-container">
    <h1>Testimonials</h1>
    <blockquote>
      <p>Niki is a professional coach and bodywork practitioner. Her extensive experience and knowledge enable her to
        coach clients holistically. She is truly an inspiration as she studies in continuation to develop herself and
        offer even more effective sessions. It is an honor to collaborate with her on future training and retreats.</p>
    </blockquote>
    <p class="cite">D. Preszeller, Italy</p>    <a href="/testimonials" class="btn btn-center">See All</a>
  </div>
</section>
