---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Bodywork">

  <div class="content-container contentpage">
    <h1>Bodywork</h1>
    <div class="intro text">
      <p>In the domain of Trans-formational bodywork through mindful movement, The Perry Method (Patterns of Physical Transformation) is elegance at its finest. It is the best of: Feldenkrais, NLP and Functional neurology… synthesised.</p>    </div>
    <hr>

    <div class="text wrap">
      <p>Unlike other manual therapies, The Perry Method avoids physical stress and discomfort; instead, it emphasizes ease of movement through the somatic three planes of motion to support healing and integration. Through choreographed mindful movements you will gain a deeper understanding of your body. This leads to heightened mindfulness and self-awareness. A healthier mind and body is a side effect.</p>
      <figure><img src="/assets/images/perry-movement.jpg" alt="movement" width="2114" height="3656"></figure>    </div>

  </div>

</BaseLayout>