---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Coaching">

  <div class="content-container contentpage">
    <h1>Coaching</h1>
    <div class="intro text">
      <p>Coaching is a great way to facilitate changes and during the process you find ways to develop and create the life you want.<br>
        Through the process of coaching combined with Patterns of Physical Transformation techniques Niki is creating a strong awareness of the neurological functions. It results in a deeper awareness in a persons body and mind. A fast and effective way to change muscular tension and more comfort.</p>
      <p>Niki is dedicated to provide a safe and supportive environment to learn, grow and make changes in your life.</p>    </div>
    <hr>


    <div class="text wrap">
      <figure><img src="/assets/images/coaching1.jpg" alt="coaching" width="1361" height="1060"></figure>
      <p>Through our personal and professional life we often experience successful, happy moments but also setbacks. Everything that happens to us are shaping our ways, how we behave, how we see the world and how we feel.</p>
      <p>We tend to react and behave in a certain ways because we are used to it. Sometimes though we reach a point in our life, in our career when we know we need to make some changes. But how? There are several different options to consider, different ways to choose to get better results. </p>
      <p>Coaching is a great way to facilitate changes and during the process you find ways to develop and create the life you want.<br>
        Through the process of coaching combined with Patterns of Physical Transformation techniques Niki is creating a strong awareness of the neurological functions. It results in a deeper awareness in a persons body and mind. A fast and effective way to change muscular tension and more comfort.</p>
      <p>Niki is dedicated to provide a safe and supportive environment to learn, grow and make changes in your life.</p>
      <p>When you are ready to take the next step in your career, in your relationship or any other areas of your life, </p>
      <ul>
        <li>to leave old habits behind</li>
        <li>to deal with stress and burn out</li>
        <li>to be more confident, more successful</li>
        <li>to stay true to yourself</li>
        <li>to live healthy</li>
        <li>to find your passion and reach your goals</li>
        <li>to take the lead and live a balanced, happy and fulfilling life<br>
          Contact for a free intake call.</li>
      </ul>
      <p>It's all possible for you too to take control of your life! Today is a great day to start.</p>
    </div>
  </div>

</BaseLayout>