---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home Page">
  <section id="hero">
    <div class="mdl-hero">
      <div class="motto">
        <p>change your focus</p>
        <p>change your life </p>
        <p>ChangeEazy !</p>
        </div>
      <img src="https://changeazy.com/content/1-hero/hero1.jpg" alt="hero image">
    </div>
    <div class="grid">
      <div class="column">
        <h2>Empowering People</h2>
        <p>Make yourself your priority and invest in your development, health and happiness !</p>
        <p>Investing in yourself is helping you to create the life you want. In any area of your life, coaching sessions, workshops and trainings will provide you insight, confidence and practical tools to lead a more fulfilling, balanced and successful life.</p>    </div>
      <div class="column">
        <h2>Mission</h2>
        <p>Niki's mission is to support and enable individuals and teams in maximising their potential, reaching their goals, and enjoying a balanced, healthy and successful life – aligned with one’s values.</p>
        <p>You learn to improve your life, raise your standards and lead a happy, successful and fulfilling life. You will maximise your potentials and you learn to see opportunities, act on them and turn them into stepping stones to reach your goals.</p>    </div>
    </div>
  </section>
  <!-- coaching -->
  <section id="coaching">
    <div class="content-container">
      <h1>Coaching</h1>
      <p>Coaching is a great way to facilitate changes and during the process you find ways to develop and create the life you want.<br>
        Through the process of coaching combined with Patterns of Physical Transformation techniques Niki is creating a strong awareness of the neurological functions. It results in a deeper awareness in a persons body and mind. A fast and effective way to change muscular tension and more comfort.</p>
      <p>Niki is dedicated to provide a safe and supportive environment to learn, grow and make changes in your life.</p>    <a href="coaching" class="btn">Read More</a>
    </div>
    <div class="call-out">
      <div class="content-container">
        <h2>When you are ready to take the next step in your career, in your relationship or any other areas of your life</h2>
        <ul>
          <li>to leave old habits behind</li>
          <li>to deal with stress and burn out</li>
          <li>to be more confident, more successful</li>
          <li>to stay true to yourself</li>
          <li>to live healthy</li>
          <li>to find your passion and reach your goals</li>
          <li>to take the lead and live a balanced, happy and fulfilling life</li>
        </ul>    </div>
      <a href="tel:+31653885727" class="btn">Contact for a free intake call</a>
    </div>
  </section>
  <!-- trainings -->
  <section id="trainings">
    <div class="content-container">
      <h1>Trainings &amp; Workshops</h1>
      <p>ChangeEazy is offering various group workshops and customised trainings also on request.</p>
      <p>All offline and online trainings and workshops are practical, interactive to give you the opportunity to practice your new tools and techniques that will support you on your journey to success.</p>    <!-- <h2>Upcoming Trainings</h2> -->

      <ul class="showcase grid gutter-1">
        <li class="showcase-item column">
          <a href="/trainings/personal" class="showcase-link wiggle-me">
            <img src="https://changeazy.com/thumbs/trainings/personal/coachme-600x600.jpg" alt="Thumbnail for I coach ME" class="showcase-image">
            <!-- <div class="showcase-caption">
    <h3 class="showcase-title">I coach ME</h3>
  </div> -->
          </a>
        </li>


        <li class="showcase-item column">
          <a href="/trainings/manager" class="showcase-link wiggle-me">
            <img src="https://changeazy.com/thumbs/trainings/manager/1.square-flyer-600x600.jpg" alt="Thumbnail for Stress management" class="showcase-image">
            <!-- <div class="showcase-caption">
    <h3 class="showcase-title">Stress management</h3>
  </div> -->
          </a>
        </li>


        <li class="showcase-item column">
          <a href="/trainings/performance" class="showcase-link wiggle-me">
            <img src="https://changeazy.com/thumbs/trainings/performance/1.office-600x600.jpg" alt="Thumbnail for Effective communication skills" class="showcase-image">
            <!-- <div class="showcase-caption">
    <h3 class="showcase-title">Effective communication skills</h3>
  </div> -->
          </a>
        </li>


        <li class="showcase-item column">
          <a href="/trainings/culture" class="showcase-link wiggle-me">
            <img src="https://changeazy.com/thumbs/trainings/culture/1.perry-600x600.jpg" alt="Thumbnail for Physical Transformation, The Perry Method" class="showcase-image">
            <!-- <div class="showcase-caption">
    <h3 class="showcase-title">Physical Transformation, The Perry Method</h3>
  </div> -->
          </a>
        </li>


      </ul>    <!-- <a class="projects-section-more"><a href="https://changeazy.com/trainings" class="btn">show all trainings &hellip;</a></p> -->
      <a href="trainings" class="btn btn-center">Read More</a>
    </div>
  </section>
  <!-- bodywork -->
  <section id="bodywork">
    <div class="grid">
      <div class="column">
        <h2>Bodywork</h2>
        <p>In the domain of Trans-formational bodywork through mindful movement, The Perry Method (Patterns of Physical Transformation) is elegance at its finest. It is the best of: Feldenkrais, NLP and Functional neurology… synthesised.</p>
        <p><a href="/bodywork" class="btn">Read More</a></p>      </div>
      <div class="column">
        <figure><img src="https://changeazy.com/content/4-bodywork/legwork.jpg" alt=""></figure>      </div>
    </div>
    <!-- <div class="content-container">
      <h1>Bodywork</h1>
      <p>In the domain of Trans-formational bodywork through mindful movement, The Perry Method (Patterns of Physical Transformation) is elegance at its finest. It is the best of: Feldenkrais, NLP and Functional neurology… synthesised.</p>    <a href="bodywork" class="btn">Read More</a>
    </div> -->
  </section>
  <!-- about -->
  <section id="about">
    <div class="grid">
      <div class="column">
        <figure><img src="https://changeazy.com/content/5-about/niki-wimper.jpg" alt=""></figure>    </div>
      <div class="column">
        <h1>About</h1>
        <p>Niki is a dedicated trainer, coach and <em>Patterns of Physical Transformation</em> practitioner with an extensive international leadership and sales background.</p>
        <p>Niki's mission is to support and enable individuals and teams in maximising their potential, reaching their goals, and enjoying a balanced, healthy and successful life – aligned with one’s values.</p>
        <p>You learn to improve your life, raise your standards and lead a happy, successful and fulfilling life. You will maximise your potentials and you learn to see opportunities, act on them and turn them into stepping stones to reach your goals.</p>
        <p><a href="/about" class="btn">Read More</a></p>    </div>
    </div>
  </section>
  <!-- testimonials -->
  <section id="testimonials">
    <div class="content-container">
      <h1>Testimonials</h1>
      <blockquote>
        <p>Niki is a professional coach and bodywork practitioner. Her extensive experience and knowledge enable her to coach clients holistically. She is truly an inspiration as she studies in continuation to develop herself and offer even more effective sessions. It is an honor to collaborate with her on future training and retreats.</p>
      </blockquote>
      <p class="cite">D. Preszeller, Italy</p>    <a href="/testimonials" class="btn btn-center">See All</a>
    </div>
  </section>
</BaseLayout>