---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Testimonials">

  <div class="content-container contentpage">
    <h1>Testimonials</h1>
    <div class="text wrap">
      <blockquote lang="en"><p>Niki is a professional coach and bodywork practitioner. Her extensive experience and knowledge enable her to coach clients holistically. She is truly an inspiration as she studies in continuation to develop herself and offer even more effective sessions. It is an honor to collaborate with her on future training and retreats.</p><cite>– D. Preszeller, Italy</cite></blockquote>
      <blockquote lang="en"><p>I had the amazingly good fortune to meet Niki at an NLP seminar in Florida. I was going through a tough time. I had so much pain going on I didn't think that I'd be able to finish the Seminar. I had swellings on my back, neck and right shoulder, my gait was off too as a result. The pain was really clouding my mind. To cut a long story short Niki worded on me for 90 minutes one evening and the swellings on my back began to disappear. After 90 minutes more on the next night I was feeling better than I had done in years. All I ever got from Doctors was the 'soft tissue" injuries spiel, "nothing we can do", "take the pain medication and stop bothering us". What I got from Niki was positivity and a "if there's a way in, there's a way out attitude". I learned so much in such a short space of time. Not only did I finish the seminar but I continued doing the exercises/movements that Niki showed me. These movements are pure mindfulness and when practiced we truly witness the majestic mind/body connection. Niki is a wonderful therapist, a wonderful teacher and a wonderful human being. I'm so glad to have met her.</p><cite>– A. Finnin, Ireland</cite></blockquote>
      <blockquote lang="en"><p>I am so thankful and happy I had the chance to attend private coaching sessions with Niki. She managed to help me conquer my fears and stepping outside my comfort zone, which brought a positive influence on me and my business. Niki is not only a successful and experienced entrepreneur but also a fun person with great sense of humor, which made the coaching sessions extra fun. I truly recommend her.</p><cite>- Veronika Utasi</cite></blockquote>
      <blockquote lang="en"><p>I wass truly pleasent surprised by Niki' s effective communication master class. She was energetic, positive , informative and confident. You can instantly feel that this lady know what she is doing, and she does well.
        Her lectures are still have positive impact on my career and personal life.
        Thank you very much Niki! You are awesome.</p><cite>– Miao Wang</cite></blockquote>
      <blockquote lang="en"><p>I feel greatly excited by the knowledge and insights I've gained during the sessions with Niki. It was also very useful to discover the subconscious programs that are running my life thanks to the techniques used by Niki. The result of the absolutely self-rewarding sessions with her is my improved quality of life and empowerment. I wish for more people to experience it and to find their joy again.</p><cite>– D. L, Amsterdam</cite></blockquote>
      <blockquote lang="en"><p>Personal or professional coaching. The best coach ever!</p><cite>– Tai Ratchaneewan</cite></blockquote>
      <blockquote lang="en"><p>empowerment!!! Zeer enthousiast, kundig en weet van aanpakken</p><cite>– Patricia Schook</cite></blockquote>
      <blockquote lang="en"><p>Niki is een intelligente coach/trainster met een brede belangstelling, levenservaring en een grote mate van betrokkenheid. Ze heeft veel mensenkennis en inlevingsvermogen en weet uit eigen ervaringen veel van de verschillende culturen.<br>Ze weet de aandacht te pakken en te boeien en zet door totdat ze het gewenste resultaat heeft bereikt.</p><cite>– Sacha Loeffen</cite></blockquote>
      <blockquote lang="en"><p>Niki has a very positive attitude and an energy that really takes you along. She acquired the skills of NLP coaching very quickly and is a master in teaching, fast thinking and the Milton language. She is genuinely interested in her pupils and knows to inspire them. She is open to new ideas and exercises and has a real "can do" mentality. I would recommend everybody to have a coaching session with Niki or follow a course led by her, as you will learn a lot in a very pleasant and positive manner.</p><cite>– Mariëlla Kuilman</cite></blockquote>
      <blockquote lang="en"><p>The powerful yet kindness and up to date business needed coaching. Love it.</p><cite>– Parichat Haehnen</cite></blockquote>
      <blockquote lang="en"><p>I had the privilege to work with Niki Fekete for a while and I can honestly say she is a dedicated and enthusiastic professional with great leader skills. She is assertive and a natural problem solver. A great asset for any company and a worderful and kind collegue!</p><cite>– Inés Ventura</cite></blockquote>
      <blockquote lang="en"><p>Ik ken Niki van een training op het gebied van NLP  - master opleiding.
        Niki Fekete is een zeer energiek persoon deze energie slaat heel snel over op zowel individuen als de gehele groep.
        Daarnaast heeft zij een hele positieve instelling en kan zij op een eenvoudige manier zee complexe theorieën overbrengen.<br>
        Deze eigenschappen gecombineerd met een een gedegen NLP kennis garanderen niet alleen een hele sfeervolle training maar ook een training waar nog lang over gepraat zal worden.<br>
        Zelden heb ik iemand in zo'n hoog tempo zoveel kennis zien overdragen.<br>
        Ik zou morgen weer aanschuiven.</p><cite>– B.J. van Oord</cite></blockquote>
      <blockquote lang="en"><p>I participated in an introduction to NLP course held by Niki and her colleague. Niki was a great facilitator of the event, she gave clear explanation of the issues and she made sure that we had fun during the exercises. It was a nice, useful and joyful day. Thank you!</p><cite>– Ágnes Fülöp</cite></blockquote>
      <blockquote lang="en"><p>Niki is an efficient person with a wealth of experience in this business. She is highly motivated and has a positive attitude. She is a pleasure to work with.</p><cite>– Bina Tulsidas</cite></blockquote>    </div>


  </div>

</BaseLayout>