---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="To Do">
  <h1>Todo:</h1>
  <ul>
    <li>active class on nav?</li>
    <li>trainings 4 sub pages</li>
    <li>images locally</li>
    <li>favicon</li>
    <li>mobile menu</li>
  </ul>
</BaseLayout>