---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Trainings">

  <div class="content-container contentpage">

    <h1>Trainings &amp; Workshops</h1>
    <div class="intro text">
      <p>ChangeEazy is offering various group workshops and customised trainings also on request.</p>
      <p>All offline and online trainings and workshops are practical, interactive to give you the opportunity to practice your new tools and techniques that will support you on your journey to success.</p>    </div>
    <hr>

    <div class="text wrap">
    </div>

    <div class="wrap wide">

      <ul class="showcase grid gutter-1">


        <li class="showcase-item column">
          <a href="/trainings/personal" class="showcase-link wiggle-me">
            <img src="/assets/images/coachme-600x600.jpg" alt="Thumbnail for I coach ME" class="showcase-image" width="600" height="600">
            <!-- <div class="showcase-caption">
    <h3 class="showcase-title">I coach ME</h3>
  </div> -->
          </a>
        </li>


        <li class="showcase-item column">
          <a href="/trainings/manager" class="showcase-link wiggle-me">
            <img src="/assets/images/1.square-flyer.jpg" alt="Thumbnail for Stress management" class="showcase-image" width="1000" height="1000">
            <!-- <div class="showcase-caption">
    <h3 class="showcase-title">Stress management</h3>
  </div> -->
          </a>
        </li>


        <li class="showcase-item column">
          <a href="/trainings/performance" class="showcase-link wiggle-me">
            <img src="/assets/images/1.office-600x600.jpg" alt="Thumbnail for Effective communication skills" class="showcase-image" width="600" height="600">
            <!-- <div class="showcase-caption">
    <h3 class="showcase-title">Effective communication skills</h3>
  </div> -->
          </a>
        </li>


        <li class="showcase-item column">
          <a href="/trainings/culture" class="showcase-link wiggle-me">
            <img src="/assets/images/1.perry-600x600.jpg" alt="Thumbnail for Physical Transformation, The Perry Method" class="showcase-image" width="600" height="600">
            <!-- <div class="showcase-caption">
    <h3 class="showcase-title">Physical Transformation, The Perry Method</h3>
  </div> -->
          </a>
        </li>


      </ul>    </div>

  </div>

</BaseLayout>