---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About">

  <div class="content-container contentpage">
    <h1>About</h1>
    <div class="intro text">
      <p>Changeazy : “When east meets west and when business meets mindfulness : the perfect balance of managing business and performance&nbsp; across cultures with mindfulness “&nbsp;&nbsp;</p>    </div>
    <hr>


    <div class="text wrap">
      <p>Niki : Founder of ChangeEazy</p>
      <p>Niki believes in creating balance and high performance through awareness, reflection and change-work. The harmony of physical, mental and spiritual well-being is the foundation of a balanced life when facing personal or professional changes and challenges.</p>
      <p>Fast pace organizations, highly competitive, ever changing businesses from start up to corporate environments have always been common in Niki’s career life. Niki started her early career in international companies such as KBC (Maya fashion), MALEV, CEU in Budapest. In 1998 Niki moved to Amsterdam where she worked for Nikon and in 2000 joined Booking.com. Since then she has held various roles in customer service, sales and leadership positions.</p>
      <p>Through the years Niki has built cross culture teams, led implementation projects, set up different offices, trained and coached people world wide. In 2007 she moved to Singapore to build, manage and localize the APAC operations. In 2011 she relocated to Japan to grow the<br>
        markets and the teams from the Tokyo office.</p>
      <p>Leaving the corporate life in 2014, Niki pursued her passion to help people overcome life challenges, prevent burn out and reach their maximum potential through coaching &amp; training by using different coaching methodologies, NLP, physical work and mindfulness.&nbsp;</p>
      <ul>
        <li>Niki is a certified NLP coach and trainer (certified by Dr. Richard Bandler). </li>
        <li>a Neuro Hypnotic Repatterning (certified by Dr. Richard Bandler).</li>
        <li>Design Human Engineering practitioner (certified by Dr. Richard Bandler).</li>
        <li>Advanced practitioner of Perry Method (Patterns of Physical Transformation) - (certified by Dr. Edie Perry).</li>
        <li>Tibetan Singing Bowl Healing (certified by Shima Healing).</li>
        <li>Pranic Healing (advanced practitioner and psychotherapy) (certified by Pranic Healing Nederland).</li>
      </ul>
      <p>Niki is fluent in English, Dutch and Hungarian and she is speaking German and Russian on a conversational level.</p>    </div>


  </div>

</BaseLayout>