
---
export interface Props {
  url: string;
  text: string;
  style?: 'primary' | 'secondary';
}

const { url, text, style = 'secondary' } = Astro.props;
---

<a href={url} class={`btn btn--${style.toLowerCase()}`}>
  {text}
</a>

<style>
.btn {
  display: inline-block;
  background-color: var(--color-background-secondary);
  color: var(--color-text-base);
  font-weight: 700;
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn:focus,
.btn:hover {
  background-color: var(--color-neutral-10);
  color: var(--color-text-base-invert);
}

.btn--primary {
  background-color: var(--color-background-primary);
}
</style>
