<div class="mdl-buttonbar">
  <p>For more information or an intake interview, please contact Niki via
    <a href="mailto:nikifekete@changeazy.com">email</a> or <a href="tel:+31653885727">phone</a>.
  </p>
  <a class="btn" href="mailto:nikifekete@changeazy.com">email</a>
  <a class="btn" href="tel:+31653885727">phone</a>
</div>
