---
import { navData } from "../data/navData";
---
<nav class="navigation" role="navigation">
  <ul class="mdl-menu">
  {
    navData.map((i) => (
      <li class="menu-item">
        <a href={i.href}>{i.name}</a>
      </li>
    ))
  }
  </ul>
</nav>
<!--
<script is:inline>
  console.log(document.location.hash);
</script>-->
