---
const currentYear = new Date().getFullYear();
---
<footer class="footer cf" role="contentinfo">
  <div class="wrap wide">
    <p class="footer-copyright">&copy; {currentYear} – ChangeEazy | Niki Fekete.</p>
    <a href="assets/docs/AVChangeEazyFebruari2016.pdf" target="_blank">Terms & Conditions</a> [PDF - 179KB]
    <p>
      KvK 65276922 - BTW NL235800053B01 - Rekening nr NL02INGB0007241422
    </p>
  </div>
</footer>
