<footer class="footer cf" role="contentinfo">
  <div class="wrap wide">
    <p class="footer-copyright">&copy; 2016–2024 – ChangeEazy | Niki Fekete.</p>
    <a href="assets/docs/AVChangeEazyFebruari2016.pdf" target="_blank">Terms & Conditions</a>
    <p>
      [PDF - 179KB] - KvK 65276922 - BTW NL235800053B01 - Rekening nr NL02INGB0007241422
    </p>
  </div>
</footer>