---
import Nav from "./Nav.astro";
import TheLogo from "./TheLogo.astro";
---
<header class="header masthead" role="banner">
  <div class="grid">

    <div class="branding">
      <a class="logo" href="/" rel="home" title="take me home">
        <TheLogo />
      </a>
    </div>

    <!-- menu -->
    <Nav />

  </div>
</header>
