---
import '@fontsource/roboto/100.css';
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/700.css';
import "../styles/main.css";
import TheHeader from "../components/TheHeader.astro";
import MobileNav from "../components/MobileNav.astro";
import TheFooter from "../components/TheFooter.astro";
import CtaBlock from "../components/CtaBlock.astro";

// const { title } = Astro.props;
const { story } = Astro.props;

const metaTitle = story?.content?.meta_title ?? 'Default Title';
const metaDescription = story?.content?.meta_description ?? 'Default Description';
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{metaTitle}</title>
  <meta name="description" content={metaDescription}>
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="ChangeEazy" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="theme-color" content="#ffffff" />
</head>
<body>
<TheHeader />
<main>
  <slot />
  <CtaBlock />
</main>
<MobileNav />
<TheFooter />
</body>
</html>
